/* Padding below the footer and lighter body text */

body, html {
	width: 100%;
	height: 100%
}
body {
	color: #5a5a5a;
	font-family: 'Open Sans', Arial, sans-serif;
}
a, a:hover, .btn {
	outline: none!important;
}
.no-padding {
	padding-left: 0;
	padding-right: 0;
}
section {
	padding: 15px;
}
.btn {
	border-radius: 4px;
}
.text-green {
	color: #74D400;
}
h1, h2, h3, h4, h5 {
	font-family: 'Vollkorn', serif;
	color: #232322
}
h1 {
	font-size: 4.5vw;
}
h2 {
	font-size: 4vw;
}
.btn-tranparent {
	border: 1px solid #fff;
	color: #fff;
	border-radius: 30px;
}
.btn-tranparent:hover, .btn-tranparent:focus {
	border: 1px solid #fff;
	color: #5BA600;
	background: #fff;
}
.btn-green {
	border: 1px solid #5BA600;
	border-radius: 30px;
	color: #5BA600;
}
.btn-green:hover, .btn-green:focus {
	border: 1px solid #5BA600;
	color: #fff;
	background: #5BA600;
}
   .no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
/*-------------- Top Banner --------------*/
.jumbotron {
	//background: url(../img/banner2.jpg) 0 -100px no-repeat;
	background-size: cover;
	height: 100vh;
	color: #fff;
	padding: 100px 0;
	margin-bottom: 0;
    float: left;
    width: 100%;
    position: relative;
}
.jumbotron::before {
	background: rgba(0,0,0,0.6);
	position: absolute;
	width: 100%;
	height: 100%;
	content: "";
	top: 0;
	left: 0;
	z-index: 1
}
.jumbotron .content-sec {
	position: relative;
	z-index: 3;
	margin-top: 12%;
}
.jumbotron .content-sec h1 {
	font-size: 52px;
}
.jumbotron .content-sec p {
	text-transform: none;
	font-size: 18px;
	line-height: 30px;
	font-weight: 400
}
.jumbotron .content-sec .btn {
	margin-top: 10px
}
