/*----About Section----*/

.about-section{
	float: left;
	width:100%;
	padding:110px 0;
	background: url(../images/about-bg.jpg) no-repeat center center;
	background-size: cover;
	position: relative;
}
.about-section:before{
	content:" ";
	position: absolute;
	width:100%;
	height:100%;
	background: rgba(0,0,0,0.8);
	top:0;
	left: 0
}
.about-section .image-sec img{
	border:10px solid #fff;
}

.about-section h3{
	color: #5BA600;
	font-size: 27px;
	text-transform: uppercase;
	margin-bottom: 30px;
	font-weight: 700

}
.about-section h3:before {
	background: #fff;
	content: "";
	height: 1px;
	left: 15px;
	margin-top: 40px;
	position: absolute;
	width: 110px;
}
.about-section p {
    color: #fff;
    font-size: 16px;
}
.about-section .btn{
	font-weight: 700;
	margin-top: 15px;
	padding:6px 25px;

}

.btn-transparent{border:2px solid #fff; border-radius: 15px; color:#fff;}
.btn-transparent:hover, .btn-transparent:focus{border-color:#fff; background: #fff; color: $verde-principal;}
